/* ---------------------------------------------- */
.itemContainer {
  width: 100%;
  /* background-color: green; */
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 48px;
  overflow: hidden;
}

.formHeader {
  margin: 8px 0px auto;
  font-weight: bold;
  font-size: 20px;
}
/*  */
.formSummary {
  padding: 10px;
  line-height: 16px;
  font-size: 14px;
  color: #545454;
  font-weight: normal;
  /* font-family: Roboto, serif; */
}
employmentEnd
.hr {
  border-top: 1px solid;
  opacity: 0.2;
}

/* ----------------------------------------------------------- */

.fileUploadWrapper {
  /* background-color: aqua; */
  height: 60px;
  margin: 10px auto;
}

.fileUploadLabel {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ccc; */
  cursor: pointer;
  margin: 4px auto;
  padding: 8px 20px;
  /* background-color: red; */
}

.fileUploadIconWrapper {
  border: 5px solid;
  flex: 0.6;
  background-color: #ccc;
  max-width: 50px;
  height: 45px;
  display: grid;
  margin-right: 2px;
}

.fileUploadIcon {
  font-weight: bold;
  opacity: 0.8;
  /* font-size: 50px; */
}

.fileInputWrapper {
  flex: 1;
  font-size: 12px;
  margin-left: 16px;
  /* background-color: yellow; */
}

.namesWrapper,
.emailWrapper,
.countryCityWrapper,
.stateZipWrapper,
.headlineWrapper,
.dobAndNationalityWrapper,
.linkedInGithubWrapper,
.websiteWrapper,
.degreeAndProgramWrapper,
.schoolWrapper,
.certificationWrapper,
.certificationateWrapper,
.jobTitleNameDescWrapper .startEndWrapper,
.dateWrapper {
  display: flex;
  margin-bottom: 10px;
  /* background-color: yellow; */
}

.dateWrapper {
  width: 100%;
  /* background-color: green; */
}

.textFieldWrapper,
.cgpaWrapper {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.cgpaWrapper {
  margin-bottom: 0px;
  /* background-color: red; */
}

.start,
.end {
  flex: 1;
  width: 100%;
  height: 60px;
  display: flex;
  /* margin-bottom: 16px; */
  font-size: 12px;
  position: relative;
  align-items: center;
}

.start {
  margin-right: 8px;
}
.requiredField {
  position: absolute;
  color: red;
  margin-left: 100%;
  font-size: 14px;
  opacity: 0.7;
}

.countryCityWrapper,
.monthListWrapper {
  font-size: 16px;
  text-align: left;
}

.countryListWrapper,
.degreeWrapper,
.monthListWrapper {
  width: 100%;
  padding: 12px;
  border: 2px solid #e1e8ee;
  cursor: pointer;
  font-weight: lighter;
  font-size: 14px;
  position: relative;
  /* margin: 0px 5px 5px 0px; */
  color: #545454;
}

.countryListWrapper {
  text-align: left;
  /* margin-bottom: 16px; */
  z-index: 90;
  border-radius: 6px;
}

.degreeWrapper {
  z-index: 1000 !important;
  border-radius: 6px;
}

.fieldWrapper,
.presentWrapper {
  position: relative;
  text-align: left;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  padding-right: 0px !important;
  /* background-color: yellow; */
}

.contactNextButtonWrapper {
  margin-top: 20px;
}

.checkedBox {
  width: 16px;
  height: 16px;
  align-self: flex-end;
}
.presentWrapper {
  justify-content: flex-end;
  margin-top: -12px;
}
/* -----------------------------------  */

.degreeAndProgramWrapper {
  margin-top: 10px;
}

.degreeWrapper {
  flex: 2.5;
  margin-right: 5px;
}

.programWrapper {
  flex: 7.5;
}

.labelText {
  text-align: left;
  min-width: 15%;
  margin-bottom: 16px;
  font-size: 14px;
}

.infoText {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  align-self: flex-end;
  font-weight: normal;
  margin-bottom: 16px;
  color: blue;
}

.awardWrapper,
.extraCurricularWrapper,
.addEducationWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addAwardWrapper,
.addExtraCurricularWrapper {
  display: flex;
}

.extraCurricularWrapper {
  margin-bottom: 20px;
}

.addWrapper,
.addWrapper,
.addWrapper {
  margin: 8px auto;
}

.addBtn {
  border: none;
  padding: 10px;
  background-color: #ddd;
  margin-bottom: 10px;
  cursor: pointer;
}

/* ---------------------------------------------------------- */

.skillWrapper {
  display: flex;
  margin-bottom: 10px;
}

.skillTextWrapper {
  flex: 2;
  min-width: 70%;
  display: flex;
  align-items: center;
}

.skillProgress,
.skill {
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  /* background-color: yellow; */
}
.skillProgress {
  flex: 0.5;
}
.skill {
  flex: 8;
}

.skipButtonWrapper {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  /* background-color: blue; */
}

.skipButton {
  margin-bottom: 10px;
}

/* ------------------------------------------------------- */
.presentWrapper {
  display: flex;
  padding: 4px;
  padding-right: 10px;
  /* background-color: red; */
  justify-content: flex-end;
  align-items: center;
}
.editEducationContainer .presentWrapper input {
  width: 24px;
  margin-right: 2px;
}

.startEndWrapper {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 10px auto;
}

.currentlyWorkHere {
  display: flex;
  margin-bottom: 10px;
  font-weight: normal;
}

.placeRight {
  display: flex;
  margin-top: -8px;
  justify-content: flex-end;
  width: 100%;
}
.placeRight > input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.placeRight > label {
  min-width: fit-content;
}

/* --------------------------------------------------------- */

.volunteerExperience {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

/* --------------------------------------------------- */

.finishButtonWrapper {
  margin-top: 20px;
}

.nextButton,
.skipButton,
.submitBtn,
.updateBtn {
  width: 100%;
  background-color: #d5d7dd;
  color: #374046;
  font-weight: bold;
  border: none;
  font-size: 16px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  /* transition-duration: 0.4s; */
  cursor: pointer;
  text-transform: uppercase;
}

.submitBtn {
  margin-bottom: 32px;
}

.editFieldBtn {
  background-color: #d5d7dd;
  color: #374046;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.updateBtn {
  font-weight: semi-bold;
  padding: 8px 8px;
  background-color: transparent;
}

.updateBtn:hover {
  background-color: #d5d7dd;
}

.nextButton:hover,
.submitBtn:hover,
.skipButton:hover,
.addBtn:hover {
  background-color: #2e3138;
  color: #fff;
}

/* ---------------------------------------------------------------- */

/* summary */
.editEducationContainer,
.editCertContainer,
.editSkillContainer,
.editVolunteerContainer {
  width: 100%;
  min-height: fit-content;
  margin: 24px auto;
  padding: 24px 16px 0px 16px;
  margin-bottom: 80px;
  border: 1px solid #ddd;
  border-radius: 16px;
  font-size: 14px;
  position: relative;
}
.summaryText {
  position: absolute;
  top: -16px;
  left: 43.5%;
  font-size: 16px;
  background-color: white;
  z-index: 4;
  display: inline-block;
  padding: 8px;
  font-weight: 900;
}

.updateFieldsWrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 20%;
  border: 1px solid #ddd;
}

/* delete and edit summary button */
.iconBtn {
  color: #374046;
  font-weight: bold;
  border: none;
  font-size: 16px;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.iconBtn:last-of-type {
  border: 1px solid #ddd;
}

.editEducationWrapper,
.editCertWrapper,
.editSkillWrapper,
.editEmploymentWrapper,
.editVolunteerWrapper {
  /* padding: 8px; */
  position: relative;
  margin-bottom: 32px;
  line-height: 28px;
  text-align: left;
  font-weight: normal;
  border: 1px solid #ddd;
}

.editInputLine,
.editTripleRow,
.editDoubleRowEmp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding-left: 8px;
}

.editFinalizeContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.editFinalizeWrapper {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.editDegree,
.editCity,
.editState,
.editZip,
.editEducationCountry,
.editCertYear,
.editSkillsProgress {
  width: 25%;
  background-color: white;
  border-right: 1px solid #ddd;
}

.editSkillsProgress {
  padding-left: 8px;
}
.editProgram {
  width: 70%;
  /* padding-left: 8px; */
}

.editSingleRow,
.editSchool,
.editSkillRow {
  display: flex;
  width: 100%;
  /* padding-left: 8px; */
  background-color: white;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}

.editDetails {
  padding: 4px 0px;
  line-height: 20px;
  font-size: 14px;
  padding-right: 4px;
  padding-left: 8px;
}

.editHeader {
  font-weight: bold;
  background-color: #d5d7dd;
  width: 100%;
  padding: 8px 0px;
}

.editField {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  border-top: 1px solid #ddd;
}

.editVolunteerWrapper {
  margin-bottom: 24px;
}

.editDoubleRowEmp {
  padding: 0px 8px;
  font-weight: normal;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.editEmploymentDesc,
.editVolunteerDesc {
  font-weight: normal;
  background-color: white;
  line-height: 24px;
  padding: 0px 8px;
}

.editSkillRow {
  border-radius: 8px;
}

.editCountry {
  width: 40%;
  /* padding-left: 8px; */
}

.editStart,
.editEnd,
.editGpa {
  width: 50%;
  border-right: 1px solid #ddd;
}

.editGpa {
  width: 100%;
}

/* ---------------- certification edits ------------------ */
.editCertDetails {
  font-weight: normal;
  background-color: white;
  line-height: 18px;
  font-size: 14px;
  padding: 8px 0px;
}

.editCertHeader {
  line-height: 20px;
  padding: 8px;
}

/* ----------------------- skills ----------------------- */
.editSkill {
  width: 70%;
  /* background-color: yellow; */
  padding-left: 8px;
  border-right: 1px solid #ddd;
}
skillWrapper .editSkillWrapper {
  line-height: 28px;
}

.updateSkill {
  border: none;
  cursor: pointer;
  border-right: 1px solid #ddd;
}

.employmentStart,
.volunteerStart {
  width: 50%;
  border-right: 1px solid #ddd;
}

.employmentEnd, .volunteerEnd {
  width: 50%;
  padding-left: 8px;
}
.editFinalizeContainer {
  margin-bottom: 24px;
}

.updateSkillsWrapper,
.updateFinalizeWrapper {
  display: flex;
  /* background-color: red; */
}

.updateFinalizeWrapper {
  /* background-color: red; */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.updateFinalizeWrapper button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.editField {
  /* background-color: yellow; */
  padding: 4px;
  padding-right: 0px;
}
