/* ---------------------------------------------- */
.itemContainer {
  width: 100%;
  /* background-color: green; */
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 50px;
}

.formHeader {
  margin: 10px 0px auto;
  font-weight: bold;
  font-size: 20px;
}

/*  */
.formSummary {
  padding: 10px;
  line-height: 16px;
  font-size: 14px;
  color: #545454;
  font-weight: normal;
  /* font-family: Roboto, serif; */
}

.hr {
  border-top: 1px solid;
  opacity: 0.2;
}

/* ----------------------------------------------------------- */

.fileUploadWrapper {
  /* background-color: aqua; */
  height: 60px;
  margin: 10px auto;
}

.fileUploadLabel {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #ccc; */
  cursor: pointer;
  margin: 0 auto;
  padding: 0px 20px;
  /* background-color: red; */
}

.fileUploadIconWrapper {
  border: 5px solid;
  flex: 0.35;
  background-color: #ccc;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
}

.fileUploadIcon {
  font-weight: bold;
  opacity: 0.8;
  /* font-size: 50px; */
}

.fileInputWrapper {
  flex: 0.65;
}

.namesWrapper,
.emailWrapper,
.countryCityWrapper,
.stateZipWrapper,
.headlineWrapper,
.dobAndNationalityWrapper,
.linkedInGithubWrapper,
.websiteWrapper,
.degreeAndProgramWrapper,
.schoolWrapper,
.certificationWrapper,
.certificationateWrapper,
.jobTitleNameDescWrapper .startEndWrapper,
.dateWrapper {
  display: flex;
  margin-bottom: 10px;
  /* background-color: yellow; */
}

.dateWrapper {
  width: 100%;
  /* background-color: green; */
}

.start,
.end {
  flex: 1;
  /* width: 100%; */
  height: 60px;
  display: flex;
  /* flex-direction: column; */
}

.start {
  margin-right: 5px;
}

.requiredField {
  color: red;
  margin-left: -2px;
  margin-right: 8px;
  font-size: 12px;
  opacity: 0.7;
}

.countryCityWrapper,
.monthListWrapper {
  font-size: 16px;
  text-align: left;
}

.countryListWrapper,
.degreeWrapper,
.monthListWrapper {
  width: 100%;
  padding: 10px;
  border: 2px solid #e1e8ee;
  cursor: pointer;
  font-weight: lighter;
  font-size: 14px;
  position: relative;
  margin: 0px 5px 5px 0px;
  color: #545454;
}

.degreeWrapper {
  z-index: 90;
}

.headlineWrapper {
  margin-bottom: 15px;
}

.dobAndNationalityWrapper {
  margin-top: 20px;
}

.contactNextButtonWrapper {
  margin-top: 20px;
}

/* -----------------------------------  */

.degreeAndProgramWrapper {
  margin-top: 10px;
}

.degreeWrapper {
  flex: 2.5;
  margin-right: 5px;
}

.programWrapper {
  flex: 7.5;
}
startEndWrapper

.startDateLabel,
.endDateLabel {
  text-align: left;
  min-width: fit-content;
  /* background-color: yellow; */
}

.cgpaWrapper {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}

.infoText {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  align-self: flex-end;
  font-weight: normal;
  margin-bottom: 10px;
  color: blue;
}

.awardWrapper,
.extraCurricularWrapper,
.addEducationWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addAwardWrapper,
.addExtraCurricularWrapper {
  display: flex;
}

.extraCurricularWrapper {
  margin-bottom: 20px;
}

.addWrapper,
.addWrapper,
.addWrapper {
  margin: 8px auto;
}

.addBtn {
  border: none;
  padding: 10px;
  background-color: #ddd;
  margin-bottom: 10px;
  cursor: pointer;
}

/* ---------------------------------------------------------- */

.skillWrapper {
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 10px;
}

.skillProgress,
.skill {
  flex: 2;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.skill {
  flex: 8;
}

.skipButtonWrapper {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  /* background-color: blue; */
}

.skipButton {
  margin-bottom: 10px;
}

/* ------------------------------------------------------- */
.presentWrapper {
  display: flex;
  padding: 4px;
  padding-right: 10px;
  /* background-color: red; */
  justify-content: flex-end;
  align-items: center;
}

.presentWrapper input {
  width: 24px;
  margin-right: 2px;
}

.startEndWrapper {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 10px auto;
}

.currentlyWorkHere {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: red; */
}

.placeRight {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  /* background-color: green; */
  width: 100%;
}

.placeRight > input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.placeRight > label {
  min-width: fit-content;
}

/* --------------------------------------------------------- */
.employmentRow, .volunteerRow{
  display: flex;
  /* background-color: red; */
  /* align-items: center; */
}

.volunteerExperience {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

/* --------------------------------------------------- */

.finishButtonWrapper {
  margin-top: 20px;
}

.nextButton,
.skipButton,
.submitBtn,
.updateBtn {
  width: 100%;
  background-color: #d5d7dd;
  color: #374046;
  font-weight: bold;
  border: none;
  font-size: 16px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  /* transition-duration: 0.4s; */
  cursor: pointer;
  text-transform: uppercase;
}

.submitBtn {
  margin-bottom: 32px;
}

.editFieldBtn {
  background-color: #d5d7dd;
  color: #374046;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.updateBtn {
  font-weight: semi-bold;
  padding: 8px 8px;
  background-color: transparent;
}

.updateBtn:hover {
  background-color: #d5d7dd;
}

.updateFieldsWrapper {
  display: flex;
}

.nextButton:hover,
.submitBtn:hover,
.skipButton:hover,
.addBtn:hover {
  background-color: #2e3138;
  color: #fff;
}

/* ---------------------------------------------------------------- */
/* edits */
.editEducationContainer,
.editCertContainer,
.editSkillContainer,
.editVolunteerContainer {
  width: 100%;
  min-height: fit-content;
  margin: 24px auto;
  margin-bottom: 80px;
}

.editFinalizeContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.editFinalizeWrapper {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.editHeader {
  font-weight: bold;
  background-color: #d5d7dd;
  width: 100%;
  padding: 8px 0px;
}

.editField {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  border-top: 1px solid #ddd;
  /* padding: 8px; */
}

.editEducationWrapper,
.editCertWrapper,
.editSkillWrapper,
.editEmploymentWrapper,
.editVolunteerWrapper {
  padding: 8px;
  background-color: #ddd;
  border-radius: 24px;
  /* padding-top: 24px; */
  margin-bottom: 24px;
  line-height: 32px;
  text-align: left;
  font-weight: normal;
}

.editDoubleRow,
.editTripleRow,
.editDoubleRowEmp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.editVolunteerWrapper {
  margin-bottom: 24px;
}

.editDoubleRowEmp {
  padding: 0px 8px;
  font-weight: normal;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.editEmploymentDesc,
.editVolunteerDesc {
  font-weight: normal;
  background-color: white;
  line-height: 24px;
  padding: 0px 8px;
}

.editSingleRow,
.editSchool,
.editSkillRow {
  display: flex;
  width: 100%;
  padding-left: 8px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}

.editSkillRow {
  border-radius: 8px;
}

.editDegree,
.editCountry,
.editCity,
.editState,
.editZip,
.editEducationCountry,
.editCertYear,
.editSkillsProgress {
  width: 30%;
  padding-left: 8px;
  background-color: white;
}

.editCountry {
  width: 40%;
}

.editState,
.editZip {
  width: 50%;
}

.editProgram,
.editCity {
  width: 70%;
  padding-left: 8px;
}

.editStart,
.editEnd,
.editGpa {
  width: 33.33%;
  padding-left: 8px;
}

/* ---------------- certification edits ------------------ */
.editCertDetails {
  font-weight: normal;
  background-color: white;
  line-height: 18px;
  font-size: 14px;
  padding: 8px;
}

.editCertHeader {
  line-height: 20px;
  padding: 8px;
}

/* ----------------------- skills ----------------------- */
.editSkill {
  width: 75%;
}

.editSkillWrapper {
  line-height: 28px;
}

.updateSkill {
  border: none;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; */
  cursor: pointer;
}

.employmentStart,
.volunteerStart {
  width: 50%;
}

.editFinalizeContainer {
  margin-bottom: 24px;
}

.updateSkillsWrapper, .updateFinalizeWrapper {
  display: flex;
  /* background-color: red; */
}

.updateFinalizeWrapper {
  /* background-color: red; */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.updateFinalizeWrapper button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.editField {
  /* background-color: yellow; */
  padding: 4px;
  padding-right: 0px;
}

/* dark: '#1F4490',
          dark500: '#122B46',
          light: `#00A9E1`,
          light200: '#EBF3F9',
          light300: '#3E49D3',
          light500: '#2E91CB',
          background: '#E7E7E7', */
