/* * {
    color: #545454;
} */

.pageContainer {
  padding: 12px;
}

.label {
  margin-left: 4px;
  /* margin-top: -4px; */
}

.textFieldTest {
  margin: 12px 4px;
  margin-top: 12px !important;
  /* padding: 8px; */
}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px auto;
}

.textFieldWrapper {
  display: flex;
  flex-direction: column;
  width: "100%";
  /* border: 1px solid red; */
  padding: 0px 6px;
  border-radius: 24px;
  /* padding-bottom: 36px; */
}

.hr {
  border-top: 1px solid;
  opacity: 0.2;
}

.fileUploadWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  padding-bottom: 0px;
}

.editBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.startSelect,
.endSelect {
  flex: 1;
  /* width: 30%; */
  margin-right: 8px !important;
}

.editDiv {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.editBtn {
  border: none;
  padding: 8px;
  cursor: pointer;
}

.editIcons {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e5748;
  font-weight: bold;
}

.summaryWrapper {
  margin-bottom: 2rem !important;
}

.editFinalizeWrapper {
  margin-bottom: 4.5rem !important;
}
